{% extends "admin/change_list.html" %}
{% block result_list %}
<div class="container mt-4">
    <h2>Atsarginės kopijos ir atstatymas</h2>
    <a href="/admin/core/backuprestore/backup/" class="btn btn-link mb-3">Atsisiųsti atsarginę kopiją</a>
    <form action="/admin/core/backuprestore/restore/" method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-2">
            <input type="file" name="backup_file" required class="form-control" accept=".json">
        </div>
        <button type="submit" class="btn btn-primary">Atstatyti iš kopijos</button>
    </form>
</div>
{% endblock %} 